{%- import 'node.jinja2' as macros -%}
{%- import 'custom_node.jinja2' as custom_macros -%}
{{ root.version }};
{%- if root.includes %}
{%- for inc in root.includes %}
{{ inc }}
{%- endfor %}
{%- endif %}

{{ root.header }} {
	#address-cells = <{{ root.address_cells }}>;
	#size-cells = <{{ root.size_cells }}>;
	{%- if root.model %}
	model = "{{ root.model }}";
	{%- endif %}

	{% set mem = root.memory %}
	{{ mem.header }} {
		device_type = "{{ mem.device_type }}";
		reg = <{{ mem.reg }}>;
	};
	{% if root.ram %}
	{{ root.ram.header }} {
		device_type = "{{ root.ram.device_type }}";
		reg = <{{ root.ram.reg }}>;
	};
	{%- endif %}
	{%- if root.child %}
	{%- for ck, cv in root.child.items() %}
		{%- if "reserved_memory" != cv.parent_label %}
		{{ macros.render_device(cv, node=root) | indent(8, False) }}
		{%- endif %}
	{%- endfor %}
	{% endif %}

	{%- set rmem = root.reserved_memory %}
	{%- if rmem %}
	{%- if rmem.child %}
	{{ rmem.label }} {
		#address-cells = <{{ rmem.address_cells }}>;
		#size-cells = <{{ rmem.size_cells }}>;
		{%- if rmem.private_data %}
		{%- for priv in rmem.private_data %}
		{{ priv }}
		{%- endfor %}
		{%- endif %}
		{%- for ck, cv in rmem.child.items() %}
		{{ macros.render_device(cv, node=rmem) | indent(16, False) }}
		{%- endfor %}
	};
	{%- endif %}
	{%- endif %}

	{%- for ck, cv in custom.items() %}
	{%- if cv.dts == true %}
	{{ custom_macros.custom_node(custom) | indent(8, False) }}
	{%- endif %}
	{%- endfor %}
};

{%- for bus_type, bus_val in buses.items() %}
{%- if bus_val.peripherals %}
{%- set peripherals = bus_val.peripherals %}
{%- for pk, pv in peripherals.items() %}
{%- if pv.compatible %}
&{{ pv.label }} {
	{%- if pv.child %}
	{%- if pv.address_cells %}
	#address-cells = <{{ pv.address_cells }}>;
	{%- endif %}
	{%- if pv.size_cells or pv.size_cells == 0 %}
	#size-cells = <{{ pv.size_cells }}>;
	{%- endif %}
	{%- endif %}
	{%- if pv.device_type %}
	device_type = "{{ pv.device_type }}";
	{%- endif %}
	{%- if "uboot" in root.os_name %}
	compatible = {{ pv.compatible_str }};
	{%- endif %}
	{%- if pv.private_data %}
	{%- for priv_data in pv.private_data %}
	{{ priv_data }}
	{%- endfor %}
	{%- endif %}
	status = "{{ pv.status }}";

	{%- if pv.child %}
	{%- for ck, cv in pv.child.items() %}
	{{ macros.render_device(cv) | indent(8, False) }}
	{%- endfor %}
	{%- endif %}
};
{% endif %}
{%- endfor %}
{%- endif %}
{% endfor %}
