{% import 'node.jinja2' as macros %}
{{ root.version }};

{{ root.header }} {
	#address-cells = <{{ root.address_cells }}>;
	#size-cells = <{{ root.size_cells }}>;
	model = "{{ root.model }}";

	{% set mem = root.memory %}
	{{ mem.header }} {
		device_type = "{{ mem.device_type }}";
		reg = <{{ mem.reg }}>;
	};

	{%- if child %}
	{%- for ck, cv in child.items() %}
	{%- if cv.parent_label == "/" %}
	{{ macros.render_device(cv) | indent(8, False) }}
	{%- endif %}
	{%- endfor %}
	{% endif %}
};

{%- for bus_type, bus_val in buses.items() %}
{%- if bus_val.peripherals %}
{%- set peripherals = bus_val.peripherals %}
{%- for pk, pv in peripherals.items() %}
{%- if pv.status != "okay" %}
&{{ pv.label }} {
	status = "okay";

	{%- if child %}
	{%- for ck, cv in child.items() %}
	{%- if cv.parent_label == pk %}
	{{ macros.render_device(cv) | indent(8, False) }}
	{%- endif %}
	{%- endfor %}
	{% endif %}
};
{% endif %}
{% endfor %}
{%- endif %}
{% endfor %}
