{% macro render_device(device, node=none) %}
{{ device.header }} {
	{%- if device.address_cells %}
	#address-cells = <{{ device.address_cells }}>;
	{%- endif %}
	{%- if device.size_cells or device.size_cells == 0 %}
	#size-cells = <{{ device.size_cells }}>;
	{%- endif %}
	{%- if device.reg %}
	reg = <{{ device.reg }}>;
	{%- endif %}
	{%- if device.compatible_str %}
	compatible = {{ device.compatible_str }};
	{%- endif %}
	{%- if node and node.frequency %}
	{%- if device.device_type == "clock" %}
	clock-frequency = <{{ node.frequency }}>;
	{%- endif %}
	{%- endif %}
	{%- if device.private_data %}
	{%- for priv_data in device.private_data %}
	{{ priv_data }}
	{%- endfor %}
	{%- endif %}
	{%- if device.status %}
	status = "{{ device.status }}";
	{%- endif %}

	{%- if device.child %}
        {%- for subdevice in device.child.values() %}
		{{ render_device(subdevice) | indent(8, False)}}
        {%- endfor %}
	{%- endif %}
};
{%- endmacro %}

