{% macro render_device(device, node=none) %}
{{ device.header }} {
	{%- if not device.header in ["chosen", "aliases"] %}
	{%- if device.address_cells or device.address_cells == 0 %}
	#address-cells = <{{ device.address_cells }}>;
	{%- endif %}
	{%- if device.size_cells or device.size_cells == 0 %}
	#size-cells = <{{ device.size_cells }}>;
	{%- endif %}
	{%- if device.status %}
        status = "{{ device.status }}";
        {%- endif %}
	{%- if device.reg or device.reg == 0 %}
	reg = <{{ device.reg }}>;
	{%- endif %}
	{%- endif %}

	{%- if device.compatible %}
	compatible = "{{ device.compatible }}";
	{%- endif %}
	{%- if node and node.frequency %}
	{%- if device.device_type == "clock" %}
	clock-frequency = <{{ node.frequency }}>;
	{%- endif %}
	{%- endif %}
	{%- if device.private_data %}
	{%- for priv_data in device.private_data %}
	{{ priv_data }}
	{%- endfor %}
	{%- endif %}
	{%- if device.stdout_path %}
	stdout-path = "{{ device.stdout_path }}";
	{%- endif %}
	{%- if device.bootargs %}
	bootargs = "{{ device.bootargs }}";
	{%- endif %}

	{%- if device.child %}
        {%- for subdevice in device.child.values() %}
		{{ render_device(subdevice) | indent(8, False)}}
        {%- endfor %}
	{%- endif %}
};
{%- endmacro %}

