{{ root.version }};

{{ root.header }} {
	#address-cells = <{{ root.address_cells }}>;
	#size-cells = <{{ root.size_cells }}>;
	
	cpus {
		#address-cells = <{{ root.cpus.cpu0.address_cells }}>;
		#size-cells = <{{ root.cpus.cpu0.size_cells }}>;
		timebase-frequency = <{{ root.frequency }}>;

		{% for k, v in root.cpus.items() %}
		{{ v.header }} {
			reg = <{{ v.reg }}>;
			compatible = "{{ v.compatible }}";
			device_type = "{{ v.type }}";
			riscv,isa = "{{ v.isa }}";
			mmu_type = "{{ v.mmu_type }}";
			status = "{{ v.status }}";
			
		};
		{% endfor %}
	};

	{% for bus_type, bus_val in buses.items() %}
	{%- if bus_val.peripherals %}
	{{ bus_val.header }} {
		#address-cells = <{{ bus_val.address_cells }}>;
		#size-cells = <{{ bus_val.size_cells }}>;
		compatible = "{{ ' '.join(bus_val.compatible) }}";
		ranges = <{{ bus_val.ranges }}>;

		{% set peripherals = bus_val.peripherals %}
		{%- for pk, pv in peripherals.items() %}
		{{ pv.header }} {
			#address-cells = <{{ pv.address_cells }}>;
			#size-cells = <{{ pv.size_cells }}>;
			reg = <{{ pv.reg }}>;
			{%- if pv.compatible %}
			{%- if pv.compatible | length == 1 %}
			{%- set compatible = '"' ~ pv.compatible[0] ~ '"' %}
			{%- else %}
			{%- set quoted_items = [] %}
			{%- for item in pv.compatible %}
			{%- set _ = quoted_items.append('"' ~ item ~ '"') %}
			{%- endfor %}
			{%- set compatible = quoted_items | join(', ') %}
			{%- endif %} 
			compatible = {{ compatible }};
			{%- endif -%}

			{%- if pv.interrupts %}
			interrupts = <{{ ' '.join(pv.interrupts) }}>;
			{%- endif -%}

			{%- if pv.private_data %}
			{%- for priv_data in pv.private_data %}
			{{ priv_data }}
			{%- endfor %}
			{%- endif %}

			status = "{{ pv.status }}";
		};
		{% endfor %}
	};
	{%- endif %}
	{%- endfor %}
};
